[submodule "src/comsol_module"]
	path = src/comsol_module
	url = http://10.0.1.2:3000/tsimader/comsol_module.git
	branch = nirb
[submodule "src/MPh"]
	path = src/MPh
	url = http://10.0.1.2:3000/GeomeconMain/MPh.git
	branch = nirb
[submodule "src/SALib"]
	path = src/SALib
	url = http://10.0.1.2:3000/tsimader/SAlib.git
	branch = nirb_salib
